# AWS credentials and private keys
*.pem
*.key
.aws/
credentials
config

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/*.tfplan
**/*.zip

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Logs / temporary files
*.log
*.tmp
